<div id="clients" class="clients">
  <div class="container">
    <div class="row aos-init aos-animate" data-aos="zoom-in">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/imgs/Cleints/manchester.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="../../assets/imgs/Cleints/hut.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/imgs/Cleints/swvl.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/imgs/Cleints/uber.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/imgs/Cleints/mazon.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/imgs/Cleints/adidas.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
