<section class="contact">
  <div class="section-title">
    <h1>Contact Us</h1>
    <div class="container">
      <p style="text-align: center">
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
        quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
        sit in iste officiis commodi quidem hic quas.
      </p>
      <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch">
          <img
            src="../../assets/imgs/contactPhoto.png"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  required=""
                />
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required=""
                />
              </div>
            </div>

            <div class="form-group">
              <label for="name">Message</label>
              <textarea
                class="form-control"
                name="message"
                rows="10"
                required=""
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
