<section class="categories">
  <div class="section-title">
    <h1>CATEGORIES</h1>
  </div>
  <div class="container">
    <div class="row">
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <h4><a href="#">المقهي</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/meeting.png)"
        >
          <h4><a href="#">الخدمات</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/bus.png)"
        >
          <h4><a href="#">النقل</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/makeUp.png)"
        >
          <h4><a href="#">الجمال</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/plane.png)"
        >
          <h4><a href="#">السفر</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/food.png)"
        >
          <h4><a href="#">المطاعم</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/gradu.png)"
        >
          <h4><a href="#">التعليم</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/wheele.png)"
        >
          <h4><a href="#">الترفيه</a></h4>
        </div>
      </div>
      <div
        class="col-xl-4 col-md-6 align-items-stretch mt-4 mt-md-0 aos-init aos-animate"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div
          class="icon-box"
          style="background-image: url(../../assets/imgs/doc!!.png)"
        >
          <h4><a href="#">الطب</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>
