<section id="using" class="using" data-aos="fade-up">
  <div class="section-title">
    <h1>How to use ?</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="shokran-card col-lg-6 col-md-12">
        <img src="../../assets/imgs/shokranCard.png" alt="" />
      </div>
      <div class="info col-lg-6 col-md-12">
        <p>
          Simply, you can show your “Shukran” membership card when you purchase
          any of the products or services offered through stores or brands
          contracted with us to get your offers or discount
        </p>
        <button class="btn" type="submit">
          Get App Now
          <img src="../../assets/imgs/play-store-svgrepo-com.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>
